{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">
            <div class="text-center my-2">
                <h1 class="display-3">Andrew's Portfolio</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid vh-100 padding-top">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">
            <h1 id="about" class="text-center text-white padding-top">About</h1>
        </div>
    </div>
</div>
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">
            <h1 id="resume" class="text-center text-white padding-top">Resume</h1>
        </div>
    </div>
</div>
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">
            <h1 id="project" class="pt-3 text-center text-white padding-top">Projects</h1>
        </div>
        {% comment %} -------------------------------- {% endcomment %}
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                    {% for item in jobs.all %}
                    <div class="col">
                        <p class="card-text">{{ item.title }}</p>
                        <div class="card shadow-sm""ratio ratio-16x9">
                            <img class="card-img-top" "img-fluid" src="{{ item.image.url }}" height="200" width="200"/>
                            <div class="card-body">
                                <p class="card-text">{{ item.tech }}</p>
                                <!-- Buttons at the bottom left and bottom right -->
                                <div class="d-flex justify-content-between align-items-end">
                                    <a class="btn btn-primary" role="button" href="{{ item.live_url }}" target="_blank"
                                        >Live Site</a
                                    >
                                    <a
                                        class="btn btn-primary"
                                        role="button"
                                        href="{{ item.github_url }}"
                                        target="_blank"
                                        >Github</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 offset-md-3 my-auto">
            <h1 id="contact" class="pt-3 text-center text-white padding-top">Contact</h1>
        </div>
    </div>
</div>

{% endblock %}
