{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid vh-100">
	<div class="row h-100">
		<div class="col-md-6 offset-md-3 my-auto">
			<div class="text-center my-2">
				<h1 class="logo-main home-name display-3 p-1 mt-5">Andrew's Portfolio</h1>
				<a href="" class="text-white btn btn-dark btn-lg p-2 mb-3"
					>Software Developer</a
				><br />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid vh-100">
	<div class="row h-100">
		<div class="col-md-6 offset-md-3 my-auto">
	       <h1 id="project" class="pt-3 text-center">Projects</h1>	      
        </div>
    </div>
</div>


<div id="contact" class="container-fluid vh-100 bg-success">
	<div class="pt-5">
	<h1 class="pt-5 text-center">Contact</h1>
</div>
</div>
{% endblock %}
