:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }   

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: black;    
}

.padding-top {
    padding-top: 100px !important;
}

.navbar-color {
    background-color: black;
}

.allauth-form {
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}


 /* Add your custom styles for the active state */
 .nav-item.active .nav-link {
    color: var(--yellow) !important;    
    text-decoration: underline var(--yellow) !important;
    text-underline-offset: 50% !important;
}

.onload {
    color: var(--yellow) !important;    
    text-decoration: underline var(--yellow) !important;
    text-underline-offset: 50% !important;
}

.nav-link {
    font-size: 20px;
}

.nav-name {
    font-weight: 700;
    font-size: 25px;
}

li {
    list-style-type: none;
}

/* --------------------------------- */
:root {
    --gradient: linear-gradient(to left top, var(--yellow)10%, #FF512F 90%) !important;
  }
  
  /* body {
    background: #111 !important;
  } */
  
  .card {
    background: #222;
    border: 1px solid var(--yellow);
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }